@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
}
nav{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
nav .nav-con{
    text-align: right;
    padding:2px 20px 0 0;
    color: #ABB2B8;
}
nav .nav-con span{
    padding: 0 8px;
}
.nav-row{
    display: flex;
    justify-content: space-between;
    padding:20px 10px 5px 10px;
}
.navLinks ul li{
    display: inline-block;
    padding: 0 10px;
}
.navLinks ul li a{
    text-decoration: none;
    color: #383838;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
}
.navLinks ul li a.active{
    color: #D23333;
}
.nav-icons i{
    color:#ABB2B8;
    margin: 0 5px;
}
.logo img{
    margin: 20px 0 0 0 ;
    padding: 0;
    width: 80px;
}
.cart{
    background:#F5F5F5;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Fraunces';
    display: block;
}
.cart img{
    margin: 150px 0;
    
}
.cart h1{
font-weight: 900;
font-size: 60px;
}
.cart p{
    font-weight: 600px;
}
.cart button{
    background-color: #610404;
    border-radius:20px;
    color: white;
    font-variant: small-caps;
    border: 2px solid whitesmoke;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
    cursor: pointer;
}
